<h1>Editing invite</h1>

<% form_for(@invite, :html => {:multipart => true}) do |f| %>
<%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @invite %> |
<%= link_to 'Back', invites_path %>
