/* =============================================== */
/* = Plush Main Stylesheet - Layout, Type, Forms = */
/* =============================================== */

/* = Reference - Colors, Sizes, etc
			- Dark Grey = #262626 or whatever
			- Base Font = 11px or whatever	
*/


/* = HTML Tags Etc                                = */
/* ================================================ */
body{margin:0; padding:0; background:url(/images/layout/blue-grey-bg.gif);}
h1, h2, h3, h4, h5{}
h1{}
h2{}
h2.fancy{line-height:1.7em; font-size:17px; font-family:"Times New Roman",Times, serif; color:#686866;}
h3{}
h4{}
h5{}

ul li{}
a{}
a:hover{}
a:active{outline: none;}
a:focus{-moz-outline-style: none;}


/* = Layout Blocks                               = */
/* =============================================== */
#site{width: 798px; height: 600px; margin: 0 auto; border: 0px solid; background:url(/images/layout/base.png) no-repeat top left; padding:15px 24px 24px 19px;}

#masthead{position: relative; height: 120px;}
#main{padding:0; border:0px solid red; width: 580px;float: right; margin-right:20px; display:inline;}

#content{display: block; clear: both; height:380px; width:550px; overflow-y:scroll; margin-left:11px; margin-top:20px;}
.landing #content{overflow-y:hidden; height:auto;}
.shaded #content{background:url(/images/layout/10_black.png) repeat top left;}
.home #main #content{padding:0; margin-top:0; height:400px; overflow:hidden; background:none !important;}


#pricing{display:none;}
table.pricing-table{padding-bottom:20px; background: url(/images/home/dotted-line.png) repeat-x bottom left;}
table.pricing-table thead td{color:#000;}
table.pricing-table tr td{white-space: nowrap;}
table.pricing-table tr td.label{font-weight:bold; color:#686866;}
#side{width: 198px;float: left;}
#footer{clear: both;}
/*lightwindow overrides*/
#lightwindow_contents, #lightwindow_contents p{
	color:#686866;
}
#lightwindow_contents p, #lightwindow_contents li, #lightwindow_contents td{
	line-height:1em;
}

#sleeve{
	margin:0 10px 0 20px; 
	}

/* = Navigation                                   = */
/* ================================================ */
.nav{margin: 0; padding: 0;}
.nav li{list-style: none; margin: 0; padding: 0;}

#nav-utility{position: absolute; top: 20px; right: 40px;}

/* = Top Nav                                      = */
/* ================================================ */

#nav-top{position:relative; clear: both; float:none; background:url(/images/home/dotted-line.png) no-repeat 11px 99%; width:561px; height:42px;}

#nav-top ul, #nav-top ul li{margin:0; padding:0;}
/* = Top Nav 1st Tier                              = */
/* ================================================ */
#nav-top ul{padding-top:0px; height:auto;}
#nav-top ul li a{text-transform:none;font-family:"Times New Roman", Times, serif; color:#686866; text-decoration:none; background-position:bottom right; display:block; height:42px;}
#nav-top ul li.active a, #nav-top ul li a:hover{background-position:bottom left;}
#nav-top ul li a span {visibility:hidden;}

/* = Top Nav 1st Tier - Custom Nav Images         = */
/* ================================================ */
#nav-top-gift-certificates a{background-image:url(/images/nav/store/gift-certificates.gif); width:136px;}
#nav-top-products a{background-image:url(/images/nav/store/products.gif); width:88px;}
#nav-top-process a{background-image:url(/images/nav/store/process.gif); width:79px;}
#nav-top-shipping-and-returns a{background-image:url(/images/nav/store/shipping.gif); width:154px;}
#nav-top-disclaimers a{background-image:url(/images/nav/store/disclaimer.gif); width:104px;}
#nav-top ul ul li a{background:none; display:block; width:auto; height:auto; }

/* = Top Nav 2nd Tier                              = */
/* ================================================ */
#nav-top ul dl{	

					margin-top:-6px; 
					margin-left:15px; 
					padding:5px 10px 15px 10px;
					position:absolute;					
					z-index:99;
					display:block; 
					background: black url(/images/nav/store/store_dropdown_paper.jpg) repeat-y top left; 
					width:170px;

					}
#nav-top ul dl.active{display:block;}
 
#nav-top ul dl dt{ 	display:block; 
					float:none; 
					color:#fff; 
					text-transform:uppercase; 
					font-family:"Times New Roman", Times, serif; 
					font-size:10px; 
					padding:10px 10px 0px 0px;
					position:relative;
					}

#nav-top ul dl dt span{padding:10px; padding-bottom:5px; padding-left:0;}*/
/* = Top Nav 3rd Tier                              = */
/* ================================================ */
#nav-top ul dl dd{position:relative; background:none; margin:0; padding:0;}
#nav-top ul dl dd span{padding:0; display:block; width:100%;}
#nav-top ul dl dd span a{color:#fff; background:none; height:auto; display:block; width:100%;}
#nav-top ul dl dd span a:hover{color:#84AEB3;}
/* = Accordion Classes                             = */
/* ================================================ */
.overflow {overflow:hidden;}
.accordion_toggle_active span{background:url(/images/nav/store/sml_burst.png) no-repeat left top;}
.accordion_toggle {background:url(/images/nav/store/nav-dotted-line.png) no-repeat left bottom;cursor:pointer;display:block; padding-top:10px; margin-bottom:10px; padding-bottom:6px !important;}
.accordion_content {overflow:hidden;}

.horiz{}
.horiz li{float: left; display: block; padding: 10px 5px;}

/* Nav Accordians */
.horiz li ul{}
.horiz li ul li{}

/* Side Nav - Persistant and contextual */
#nav-side{margin-top:63px;  background:url(/images/home/dotted-line.png) no-repeat top left;}
#nav-side .global{}
#nav-side .subnav{}

/* Home Link Boxes */
.home #entry-links{background:blue;}
.home #entry-links .link {width:167px; height:182px; display:block;}
.home #entry-links .link a{background-position:left bottom; background-repeat:no-repeat; display:block; text-decoration:none;}
.home #entry-links .link a:hover{background-position:left top;}

.home #entry-links #store{float:left;}
.home #entry-links #custom{float:right; margin-right:50px;}
.home #entry-links #store  a{width:167px; height:182px;background-image:url(/images/home/store.jpg);}
.home #entry-links #custom a{width:167px; height:182px;background-image:url(/images/home/custom.jpg);}


#nav-side li#side-about a{background-image:url(/images/nav/leftnav/about.gif);}
#nav-side li#side-blog a{background-image:url(/images/nav/leftnav/blog.gif);}
#nav-side li#side-faq a{background-image:url(/images/nav/leftnav/faq.gif);}
#nav-side li#side-praise a{background-image:url(/images/nav/leftnav/praise.gif);}
#nav-side li#side-contact a{background-image:url(/images/nav/leftnav/contact.gif);}
#nav-side li a{background-position:left bottom; background-repeat:no-repeat;}
#nav-side li a:hover{background-position:left top;}
#nav-side li a{text-decoration:none; width:122px; height:20px; display:block;}
#nav-side li a span, .link span{visibility:hidden;}

/* = Generic Classes                              = */
/* ================================================ */
.scrollable{overflow:auto;}
.dotted{background:transparent url(/images/home/dotted-line.png) repeat-x; height:3px; border:0;}
.column{float:left; display:inline; width:45%;}
.column.product-image{width:187px; margin-right:20px;}
.column.product-contents{width:275px;}

/*Products & Categories */
.product{width:75px; float:left; margin-right:50px;}
.product h3{text-align:center;}
.product h3 a{color:#686866; font-size:16px; font-family:"Times New Roman",Times, Serif; font-style: italic;}
#product-detail{margin-top:20px;}


/* = Forms                                        = */
/* ================================================ */

form h3, form h4{display: block; clear: both;}
form p{width: 50%; float: left;}
form label{display: block; float: left; width: 120px; text-align: right; padding-right: 5px;}
form input[type=text], form input.text{float: right; width: 140px;}
.checkbox_group{}
.checkbox_group label{width: 245px; text-align: left; float: left; clear: right;}
.checkbox_group input{clear: left; width: auto; float:left;}

form .date_select{clear: both; float: none; width: 100%;}
form .time_select{clear: both; float: none; width: 100%;}
form .textarea{clear: both; float: none; width: 100%;}
form .fullwidth{clear: both; float: none; width: 100%;}
form .fullwidth input{width: 400px; margin-right: 18px;}
form .choice input{margin-top: 5px;}
form .quantity_group{width: 190px; clear: right;}
form .quantity_group label{}
form .quantity_group input{clear: none;}
form input.quantity{width: 20px;}
form input.subtotal{width: 50px;}
form .submit{width: 100%; clear: both;}
/*label{display: block; float: left; width: 150px;}*/
#product-detail button span{display:none;}
#product-detail button{width:137px; height:33px; border:none;}
button.sample{background:url(/images/store/request_sample.gif) no-repeat top left;}
button.order{background:url(/images/store/order_form.gif) no-repeat top left;}

/* = Admin Section	                              = */
/* ================================================ */
.admin_block{float: left; width: 175px; /*border: 1px solid;*/}
.admin_block .scrollable{height: 200px;}