<div class="column leftnarrow">
	<img src="/images/about_plush/dione_photo_sm.jpg" alt="" title="" />
</div>
<div class="column rightwide">
	<h1>About Plush</h1>
	<p>I'm Dione Dashney, the founder of Plush Invitations. We're a design studio specializing in custom invitations, announcements and stationery to match. </p>
	<p>I started Plush as a way of using my background in Interior Design in an even more personal realm: the special events that help mark milestones in our lives. My love and attention to detail helps me translate the personal stories of my clients into  paper designs that delight, create anticipation, and commemorate events. </p>
	<p>I have an amazing team that helps bring all the pieces together: a graphic designer, a jewelry designer and an all round crafty gal who I couldn’t live without. We combine our talents to bring colour, texture and ideas together in ways that are familiar and surprising at the same time. My greatest reward is knowing we have produced cards and keepsakes our clients are proud to share and keep—today and in years to come</p>.

<p>	<strong>Dione Dashney </strong><br>
	Plush Founder and Owner
</p>	
	
</div>
