<h1>Editing page</h1>

<% form_for(@page, :html => {:multipart => true}) do |f| %>
<%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
