<h2 class="fancy">A great celebration reflects the best in you and your loved ones. Your style, your personality, the things that show the world what you hold dear. Plush is the extra layer that makes your celebration shine — the shimmer that makes each moment richer. More magical. Better than you expected. </h2>
<h2 class="fancy">Of course, it wouldn't be Plush if we didn't attend to every detail: the papers, the print, the envelopes and embellishments. The little things that help you look forward to your event with extra anticipation — and look back with added nostalgia.</h2>
<hr class="dotted" />
<div id="entry-links">
<div class="link" id="store">
<%= link_to content_tag('span','Plush Store'), store_path %>	
</div>
<div class="link" id="custom">
<%= link_to content_tag('span','Custom Invitations'), invites_path %>	
</div>

</div>