<h1><%=h @page.title %></h1>
<div id="page-content" class="scrollable">
  <%= markdown @page.content %>  
</div>

<% if logged_in? %>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
<% end %>


