<h1>Frequently Asked Questions</h1>

<h2>PERSONALIZATION</h2>

<dl>
<dt>1. Can I personalize items from the Plush Store?</dt>

<dd>Plush is happy to personalize your invitations and stationery. Don’t hesitate to contact us with your ideas. Depending on the modification, additional fees and time may be required to complete your sample and your order.
</dd>
<dt>1. Can I use my own graphic or monogram?
</dt>
<dd>Absolutely! The file must be a high-resolution JPEG or an EPS. If you wish to have the image altered we will gladly accommodate you for an additional fee.
</dd>

<dt>2. I’m in love with a paper I found but I don’t see a similar option on your website. Can you get it for me?</dt>
<dd>Either mail us a sample or send us a high-resolution scan and we’ll be happy to source your paper. Keep in mind this may delay production time and incur additional costs.
</dd>
<dt>3. Can I use a different font than the one used on the sample on your website? </dt>
<dd>Of course! Either direct us to the font you like on another sample on our site, or else send us a scan or photo of the font you have in mind. We'll do our best to match it. Keep in mind this may delay production time and set-up fees may be required.
</dd>