<div id="store-swf" style="overflow:hidden">Please Install flash and enable JavaScript</div>
<script type="text/javascript" charset="utf-8">
	var so = new SWFObject('/swf/store-main.swf','store-flash',"549","264","9","#ffffff");
	so.addParam("wmode","transparent");
	so.write("store-swf");
</script>