<h1>New product</h1>

<% form_for(@product, :html => {:multipart => true}) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
  <div id="add_images">
  
  </div>
  <p>
    <%= link_to_remote "Add An Image", :update => "add_images", :url => new_image_path(:product_id => @product), :method => :get, :position => :bottom  %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', products_path %>
