
<h2>Order Form For <%= @product.title %></h2>


<% form_tag"/products/order/#{@product.permalink}" do |f| %>
  
  <%= text_field :order, :name %>

  <p><input type="submit" value="Continue &rarr;"></p>
  
<% end %>