<%= render :partial => "pages/head" %>
<body class="home">
  <div id="site">
    <div id="masthead">
      
    
    </div>
    <div id="main">
      <div id="content">
        <%= yield %>    
      </div>      
    </div>
    <div id="side">
    </div>
  </div>
</body>
</html>
